<div class="container-fluid">
    <div id="data_table_tindakan_wrapper" class="dataTables_wrapper no-footer">
        <div class="dataTables_scroll">
            <div class="dataTables_scrollHead ui-state-default"
                style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                <div class="dataTables_scrollHeadInner"
                    style="box-sizing: content-box; width: 1611px; padding-right: 15px;">
                    <table cellpadding="0" cellspacing="0" border="0" class="display dataTable no-footer" role="grid"
                        style="margin-left: 0px; width: 1611px;">
                        <thead>
                            <tr role="row">
                                <th class="ui-state-default sorting_disabled center" rowspan="1" colspan="1"
                                    style="width: 118px;">
                                    <div class="DataTables_sort_wrapper">Tanggal<span
                                            class="DataTables_sort_icon"></span></div>
                                </th>
                                <th class="ui-state-default sorting_disabled" rowspan="1" colspan="1"
                                    style="width: 547px;">
                                    <div class="DataTables_sort_wrapper">Tindakan<span
                                            class="DataTables_sort_icon"></span></div>
                                </th>
                                <th class="ui-state-default sorting_disabled center" rowspan="1" colspan="1"
                                    style="width: 85px;">
                                    <div class="DataTables_sort_wrapper">Kls<span class="DataTables_sort_icon"></span>
                                    </div>
                                </th>
                                <th class="ui-state-default sorting_disabled" rowspan="1" colspan="1"
                                    style="width: 547px;">
                                    <div class="DataTables_sort_wrapper">Pelaksana<span
                                            class="DataTables_sort_icon"></span></div>
                                </th>
                                <th class="ui-state-default sorting_disabled center" rowspan="1" colspan="1"
                                    style="width: 85px;">
                                    <div class="DataTables_sort_wrapper">Jml<span class="DataTables_sort_icon"></span>
                                    </div>
                                </th>
                                <th class="ui-state-default sorting_disabled center" rowspan="1" colspan="1"
                                    style="width: 136px;">
                                    <div class="DataTables_sort_wrapper">Biaya<span class="DataTables_sort_icon"></span>
                                    </div>
                                </th>
                                <th class="ui-state-default sorting_disabled center" rowspan="1" colspan="1"
                                    style="width: 92px;">
                                    <div class="DataTables_sort_wrapper"><span class="DataTables_sort_icon"></span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="dataTables_scrollBody" style="overflow: auto; height: 150px; width: 100%;">
                <table cellpadding="0" cellspacing="0" border="0" class="display dataTable no-footer"
                    id="data_table_tindakan" role="grid" style="width: 1611px;">
                    <thead>
                        <tr role="row" style="height: 0px;">
                            <th class="ui-state-default sorting_disabled center" rowspan="1" colspan="1"
                                style="width: 118px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                                <div class="dataTables_sizing" style="height:0;overflow:hidden;">
                                    <div class="DataTables_sort_wrapper">Tanggal<span
                                            class="DataTables_sort_icon"></span></div>
                                </div>
                            </th>
                            <th class="ui-state-default sorting_disabled" rowspan="1" colspan="1"
                                style="width: 547px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                                <div class="dataTables_sizing" style="height:0;overflow:hidden;">
                                    <div class="DataTables_sort_wrapper">Tindakan<span
                                            class="DataTables_sort_icon"></span></div>
                                </div>
                            </th>
                            <th class="ui-state-default sorting_disabled center" rowspan="1" colspan="1"
                                style="width: 85px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                                <div class="dataTables_sizing" style="height:0;overflow:hidden;">
                                    <div class="DataTables_sort_wrapper">Kls<span class="DataTables_sort_icon"></span>
                                    </div>
                                </div>
                            </th>
                            <th class="ui-state-default sorting_disabled" rowspan="1" colspan="1"
                                style="width: 547px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                                <div class="dataTables_sizing" style="height:0;overflow:hidden;">
                                    <div class="DataTables_sort_wrapper">Pelaksana<span
                                            class="DataTables_sort_icon"></span></div>
                                </div>
                            </th>
                            <th class="ui-state-default sorting_disabled center" rowspan="1" colspan="1"
                                style="width: 85px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                                <div class="dataTables_sizing" style="height:0;overflow:hidden;">
                                    <div class="DataTables_sort_wrapper">Jml<span class="DataTables_sort_icon"></span>
                                    </div>
                                </div>
                            </th>
                            <th class="ui-state-default sorting_disabled center" rowspan="1" colspan="1"
                                style="width: 136px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                                <div class="dataTables_sizing" style="height:0;overflow:hidden;">
                                    <div class="DataTables_sort_wrapper">Biaya<span class="DataTables_sort_icon"></span>
                                    </div>
                                </div>
                            </th>
                            <th class="ui-state-default sorting_disabled center" rowspan="1" colspan="1"
                                style="width: 92px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                                <div class="dataTables_sizing" style="height:0;overflow:hidden;">
                                    <div class="DataTables_sort_wrapper"><span class="DataTables_sort_icon"></span>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr role="row" class="odd">
                            <td class=" center">20 Mar 2021 17:51</td>
                            <td>Mawar III-3B</td>
                            <td class=" center">3</td>
                            <td></td>
                            <td class=" center">5</td>
                            <td class=" center">500,000</td>
                            <td class=" center"></td>
                        </tr>
                        <tr role="row" class="even">
                            <td class=" center">21 Mar 2021 07:41</td>
                            <td>Askep rawat inap</td>
                            <td class=" center">3</td>
                            <td>Perawat</td>
                            <td class=" center">1</td>
                            <td class=" center">35,000</td>
                            <td class=" center"></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class=" center">21 Mar 2021 07:41</td>
                            <td>Visite dokter sp.</td>
                            <td class=" center">3</td>
                            <td>Rakhman Wahyudi Mulyo, dr. Sp.B,Perawat</td>
                            <td class=" center">1</td>
                            <td class=" center">20,000</td>
                            <td class=" center"></td>
                        </tr>
                        <tr role="row" class="even">
                            <td class=" center">20 Mar 2021 18:00</td>
                            <td>Askep rawat inap</td>
                            <td class=" center">3</td>
                            <td>Perawat</td>
                            <td class=" center">1</td>
                            <td class=" center">35,000</td>
                            <td class=" center"></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class=" center">22 Mar 2021 08:18</td>
                            <td>Askep rawat inap</td>
                            <td class=" center">3</td>
                            <td>Perawat</td>
                            <td class=" center">1</td>
                            <td class=" center">35,000</td>
                            <td class=" center"></td>
                        </tr>
                        <tr role="row" class="even">
                            <td class=" center">22 Mar 2021 08:18</td>
                            <td>Visite dokter sp.</td>
                            <td class=" center">3</td>
                            <td>Rakhman Wahyudi Mulyo, dr. Sp.B,Perawat</td>
                            <td class=" center">1</td>
                            <td class=" center">20,000</td>
                            <td class=" center"></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class=" center">22 Mar 2021 08:20</td>
                            <td>Visite dokter sp.</td>
                            <td class=" center">3</td>
                            <td>Dimas triaryo, dr. Sp.OT,Perawat</td>
                            <td class=" center">1</td>
                            <td class=" center">20,000</td>
                            <td class=" center"></td>
                        </tr>
                        <tr role="row" class="even">
                            <td class=" center">23 Mar 2021 08:05</td>
                            <td>Askep rawat inap</td>
                            <td class=" center">3</td>
                            <td>Perawat</td>
                            <td class=" center">1</td>
                            <td class=" center">35,000</td>
                            <td class=" center"></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class=" center">23 Mar 2021 08:05</td>
                            <td>Visite dokter sp.</td>
                            <td class=" center">3</td>
                            <td>Perawat,Rakhman Wahyudi Mulyo, dr. Sp.B</td>
                            <td class=" center">1</td>
                            <td class=" center">20,000</td>
                            <td class=" center"></td>
                        </tr>
                        <tr role="row" class="even">
                            <td class=" center">23 Mar 2021 08:05</td>
                            <td>Visite dokter sp.</td>
                            <td class=" center">3</td>
                            <td>Dimas triaryo, dr. Sp.OT,Perawat</td>
                            <td class=" center">1</td>
                            <td class=" center">20,000</td>
                            <td class=" center"></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class=" center">23 Mar 2021 08:05</td>
                            <td>Rawat luka post op</td>
                            <td class=" center">3</td>
                            <td>Rakhman Wahyudi Mulyo, dr. Sp.B,Perawat</td>
                            <td class=" center">1</td>
                            <td class=" center">16,000</td>
                            <td class=" center"></td>
                        </tr>
                        <tr role="row" class="even">
                            <td class=" center">23 Mar 2021 09:11</td>
                            <td>Asuhan Gizi</td>
                            <td class=" center">3</td>
                            <td>Gizi</td>
                            <td class=" center">1</td>
                            <td class=" center">25,000</td>
                            <td class=" center"></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class=" center">24 Mar 2021 07:58</td>
                            <td>Askep rawat inap</td>
                            <td class=" center">3</td>
                            <td>Perawat</td>
                            <td class=" center">1</td>
                            <td class=" center">35,000</td>
                            <td class=" center"></td>
                        </tr>
                        <tr role="row" class="even">
                            <td class=" center">24 Mar 2021 07:58</td>
                            <td>Visite dokter sp.</td>
                            <td class=" center">3</td>
                            <td>Perawat,Rakhman Wahyudi Mulyo, dr. Sp.B</td>
                            <td class=" center">1</td>
                            <td class=" center">20,000</td>
                            <td class=" center"></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class=" center">24 Mar 2021 07:59</td>
                            <td>Rawat luka post op</td>
                            <td class=" center">3</td>
                            <td>Rakhman Wahyudi Mulyo, dr. Sp.B,Perawat</td>
                            <td class=" center">1</td>
                            <td class=" center">16,000</td>
                            <td class=" center"></td>
                        </tr>
                        <tr role="row" class="even">
                            <td class=" center">23 Mar 2021 13:00</td>
                            <td>Pasang gips atas siku</td>
                            <td class=" center">3</td>
                            <td>Dimas triaryo, dr. Sp.OT,Perawat</td>
                            <td class=" center">1</td>
                            <td class=" center">24,000</td>
                            <td class=" center"></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class=" center">24 Mar 2021 08:00</td>
                            <td>Visite dokter sp.</td>
                            <td class=" center">3</td>
                            <td>Dimas triaryo, dr. Sp.OT,Perawat</td>
                            <td class=" center">1</td>
                            <td class=" center">20,000</td>
                            <td class=" center"></td>
                        </tr>
                        <tr role="row" class="even">
                            <td class=" center">25 Mar 2021 08:33</td>
                            <td>Askep rawat inap</td>
                            <td class=" center">3</td>
                            <td>Perawat</td>
                            <td class=" center">1</td>
                            <td class=" center">35,000</td>
                            <td class=" center"><a id="4670721" class="tdelete">DELETE</a></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class=" center">25 Mar 2021 08:33</td>
                            <td>Visite dokter sp.</td>
                            <td class=" center">3</td>
                            <td>Dimas triaryo, dr. Sp.OT,Perawat</td>
                            <td class=" center">1</td>
                            <td class=" center">20,000</td>
                            <td class=" center"><a id="4670726" class="tdelete">DELETE</a></td>
                        </tr>
                        <tr role="row" class="even">
                            <td class=" center">25 Mar 2021 08:34</td>
                            <td>Visite dokter sp.</td>
                            <td class=" center">3</td>
                            <td>Rakhman Wahyudi Mulyo, dr. Sp.B,Perawat</td>
                            <td class=" center">1</td>
                            <td class=" center">20,000</td>
                            <td class=" center"><a id="4670729" class="tdelete">DELETE</a></td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="dataTables_scrollFoot ui-state-default" style="overflow: hidden; border: 0px; width: 100%;">
                <div class="dataTables_scrollFootInner">
                    <table cellpadding="0" cellspacing="0" border="0" class="display dataTable no-footer" role="grid"
                        style="margin-left: 0px;">
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="fg-toolbar ui-toolbar ui-widget-header ui-helper-clearfix ui-corner-bl ui-corner-br">
            <div class="toolbar">Total : 971,000</div>
        </div>
    </div>
</div>
<input type="hidden" name="id_kunjungan" id="id_kunjungan" value="581888">
<input type="hidden" name="id_kunjungan_tl" id="id_kunjungan_tl" value="1085918">
<input type="hidden" name="id_tindakan" id="id_tindakan" value="">
<input type="hidden" name="nilai_jaminan" id="nilai_jaminan" value="0">
<input type="hidden" name="is_cito" value="N">
<input type="hidden" name="id_tl" id="id_tl" value="3">
<table width="100%" border="0" cellspacing="3" cellpadding="0" class="background_form">
    <tbody>
        <tr>
            <td width="16%" align="left">Tanggal</td>
            <td width="34%" valign="middle">: <input name="tanggal" id="tanggal" type="text" required=""></td>
            <td width="16%" align="left">Tempat Layanan </td>
            <td width="34%" align="left">: <b><input name="tempat_layanan" id="tempat_layanan" type="text"
                        required=""></b></td>
        </tr>
        <tr>
            <td width="16%" align="left">Kode Panggil </td>
            <td width="34%" valign="middle">: <input type="text" class="input_no_rm" name="kode_tindakan"
                    id="kode_tindakan" required=""><a id="img_search_tindakan" style="color:#FFF;cursor: pointer;"><img
                        src="./files/search_18.png" width="20" height="20" align="absmiddle"
                        style="margin-left: 10px"></a></td>
            <td width="50%" align="left" colspan="2">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table_pelaksana_tindakan"
                    class="background_form">
                    <tbody>
                        <tr>
                            <td width="32%" align="left">Pelaksana Layanan</td>
                            <td width="68%" align="left">: </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td width="16%" align="left">Nama Tindakan </td>
            <td width="34%" valign="middle">: <input type="text" id="nama_tindakan" readonly=""></td>
            <td width="16%" align="left">Jumlah Tindakan </td>
            <td width="34%" align="left">: <input type="text" name="qty" id="qty" value="1" class="input_no_rm"
                    required=""><input type="checkbox" id="is_cito" class="radio_jkl" value=""><label
                    for="is_cito">Cito</label></td>
        </tr>
        <tr>
            <td width="16%" align="left">Kelas </td>
            <td width="34%" valign="middle">: <input type="text" nama="kelas" id="kelas" readonly="" required=""></td>
            <td width="16%" align="left">Biaya Tindakan </td>
            <td width="34%" align="left">: <input type="text" name="harga" id="harga" value="0" readonly="" required="">
            </td>
        </tr>
        <tr>
            <td width="16%" align="left"></td>
            <td width="34%" valign="middle"></td>
            <td width="16%" align="left"></td>
            <td width="34%" align="right"><button type="button" id="reset">Tambah
                    Tindakan</button>&nbsp;&nbsp;<button type="button" id="submit">Simpan
                    Tindakan</button></td>
        </tr>
    </tbody>
</table>