<table width="100%" border="0" cellspacing="3" class="background_form">
    <tbody>
        <tr>
            <td colspan="3" align="left" class="header-title" style="width:90%">
                <label style="margin: 0px;display: table;" class="dpjp"><i>Dokter Penanggung Jawab</i> :
                    <b><label id="label_dokter_penanggung_jawab">Rakhman Wahyudi Mulyo, dr.
                            Sp.B</label></b></label>

            </td>
            <td align="right" class="header-title">
                <!-- <button type="button" id="surve">surveilans</button> -->
                <div id="frame_button_send_laborat" style="display: none;">
                    <button type="button" id="simpan_tindakan_laborat">PROSES TINDAKAN LABORAT</button>
                </div>
            </td>

        </tr>
    </tbody>
</table>