<div class="container-fluid">
    <div class="row">
        <div class="col-4 p-3">
            <div class="list-group" id="list-tab" role="tablist">

                <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="list" role="tab">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">[ 000000 ] Semut Cilik</h5>
                        <small>3 Jam ago</small>
                    </div>
                    <p class="mb-1">Poliklinik Gigi - Yusrina Sumartati, drg, Sp.Pros</p>
                    <small>25 Maret 2020 10:30</small>
                </a>

                <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="list" role="tab">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">[ 000001 ] Semut Nakal</h5>
                        <small>2 Jam ago</small>
                    </div>
                    <p class="mb-1">Poliklinik Pegawai - Suharto, dr</p>
                    <small>25 Maret 2020 10:42</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="list" role="tab">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">[ 000002 ] Semut Mini</h5>
                        <small>3 Menit ago</small>
                    </div>
                    <p class="mb-1">Poliklinik Psikiatri - Endang Soekartiningsih, dr, MSc, Sp.KJ</p>
                    <small>25 Maret 2020 09:30</small>
                </a>

            </div>
        </div>
        <div class="col-8 p-3">
            <div class="row" style="min-height:350px">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">JENIS</th>
                            <th scope="col">OBAT</th>
                            <th scope="col">JML</th>
                            <th scope="col">ATURAN_PAKAI</th>
                            <th scope="col">KETERANGAN</th>
                            <th scope="col">-</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Tunggal</td>
                            <td>Acyclovir 200 mg</td>
                            <td>4</td>
                            <td>3x1</td>
                            <td>Sesudah Makan</td>
                            <td><button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">KOREKSI</button></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Tunggal</td>
                            <td>Alkohol Swabs 2 Play</td>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td><button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">KOREKSI</button></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Tunggal</td>
                            <td>Antasida Doen Susp. 60 ml</td>
                            <td>1</td>
                            <td>3x1</td>
                            <td>Sebelum Makan</td>
                            <td><button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">KOREKSI</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-secondary me-md-2 btn-lg" type="button">TOLAK</button>
                    <button class="btn btn-warning btn-lg" type="button">TERIMA</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Koreksi Resep</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container p-3">
                    <div class="mb-3 row">
                        <label for="text003" class="col-sm-3 col-form-label">Obat</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="text003" value="Acyclovir 200 mg">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="text004" class="col-sm-3 col-form-label">Jumlah</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="text004" value="4">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="text005" class="col-sm-3 col-form-label">Aturan Pakai</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="text005" value="3x1">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="text006" class="col-sm-3 col-form-label">Keterangan</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="text006" rows="2">Sesudah Makan</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>