<div id="dialog_diagnosa">
    <table width="100%" id="table_diagnosa" border="0" cellspacing="0" cellpadding="3" class="background_form">
        <thead class="header-title">
            <tr>
                <td width="90%" align="left" colspan="2"><b>Diagnosa</b></td>
                <td width="10%" class="header-title">
                    <div align="right"><button type="button" id="add-diag">Tambah</button></div>

                </td>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot style="display: none;">
            <tr>
                <td colspan="3">
                    <form id="form_diag" novalidate="novalidate">
                        <input type="hidden" name="id_kunjungan" id="diag_id_kunjungan">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td width="7%">
                                        <select name="type" id="type" required="">
                                            <option value="Primary">Primary</option>
                                            <option value="Secondary">Secondary</option>
                                        </select>
                                    </td>
                                    <td width="10%">
                                        <input type="text" name="diag" id="diag" required="">
                                    </td>
                                    <td>
                                        <span role="status" aria-live="polite"
                                            class="ui-helper-hidden-accessible"></span><input type="text"
                                            id="diag_masuk_text" class="ui-autocomplete-input" autocomplete="off">
                                    </td>
                                    <td width="13%">
                                        <button type="button" id="submit_diag">simpan</button>
                                        <button type="button" id="cancel_diag">batal</button>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </form>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<style type="text/css">
    #dialog_diagnosa button {
        font-size: 0.8em;
    }

    #dialog_diagnosa select {
        width: 100%;
        margin-right: 0px !important;
        margin-bottom: 0px;
    }

    #dialog_diagnosa #diag,
    #dialog_diagnosa #diag_masuk_text {
        width: 100%;
    }

    #table_diagnosa tbody td {
        border-bottom: 1px solid gray;
    }

    #dialog_diagnosa tbody button {
        padding: .4em 1em;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        $('#add-proc').click(function () {
            if ($('#id_kunjungan').val() !== '') {
                $('#proc_id_kunjungan').val($('#id_kunjungan').val());
                $('#table_proc tfoot').show();
                setTimeout(function () {
                    //                    $('#table_diagnosa #diag').focus();
                    $('#table_proc #diag').scrollTop($('#table_proc #diag')[0].scrollHeight);
                }, 300);
            } else
                alert('Mohon Pilih Kunjungan dulu.');
        });

        $('#cancel_proc').click(function () {
            $('#table_proc tfoot').hide();
        });

        var form_diag = $("#form_proc");
        var validator_diag = form_diag.validate({
            messages: {
                proc: ''
            }
        });

        $('#submit_proc').click(function () {
            if (form_diag.valid())
                $.post('./index.php?/billing_rm/entry/set_proc/', $('#form_proc').serialize(), function (data) {
                    if (data !== '')
                        alert(data);
                    load_table_proc($('#id_kunjungan').val());
                    $('#table_proc tfoot').hide();
                });
        });



        $('#table_proc').on('click', '.tdelete', function () {
            var confm = confirm('Apakah anda yakin ingin menghapus data ini ?');
            if (confm) {
                $.get('./index.php?/billing_rm/entry/del_proc/' + $(this).attr('id'), function (data) {
                    load_table_proc($('#id_kunjungan').val());
                });
            }
        });


        $('#dialog_proc tfoot #proc').keyup(function (e) {
            diag = $(this);
            if (e.keyCode == 13) {
                $.getJSON("./index.php?/billing_rm/entry/get_proc/" + $(this).val(), function (data) {
                    diag.val(data.id);
                    $('#proc_text').val(data.value);
                });
            }
        });

        $("#proc_text").autocomplete({
            source: function (request, response) {
                $.getJSON("./index.php?/billing_rm/entry/SearchProc/" + request.term, function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.value,
                            value: item.value,
                            data: item.id
                        };
                    }));
                });
            },
            minLength: 1,
            select: function (event, ui) {
                $('#dialog_proc tfoot #proc_text').val(ui.item.value);
                $('#dialog_proc tfoot #proc').val(ui.item.data);
                setTimeout(function () {
                    $('#submit_proc').focus();
                }, 200);
            }
        });

    });

    function load_table_proc(id_kunjungan) {
        $.get('./index.php?/billing_rm/entry/table_proc/' + id_kunjungan, function (data) {
            $('#table_proc tbody').html(data);
        });
    }
</script>

<br>
<div id="dialog_proc">
    <table width="100%" id="table_proc" border="0" cellspacing="0" cellpadding="3" class="background_form">
        <thead class="header-title">
            <tr>
                <td width="90%" align="left" colspan="2"><b>Prosedure</b></td>
                <td width="10%" class="header-title">

                    <div align="right"><button type="button" id="add-proc">Tambah</button></div>
                </td>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot style="display: none;">
            <tr>
                <td colspan="3">
                    <form id="form_proc" novalidate="novalidate">
                        <input type="hidden" name="id_kunjungan" id="proc_id_kunjungan">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td width="17%">
                                        <input type="text" name="proc" id="proc" required="">
                                    </td>
                                    <td>
                                        <span role="status" aria-live="polite"
                                            class="ui-helper-hidden-accessible"></span><input type="text" id="proc_text"
                                            class="ui-autocomplete-input" autocomplete="off">
                                    </td>
                                    <td width="13%">
                                        <button type="button" id="submit_proc">simpan</button>
                                        <button type="button" id="cancel_proc">batal</button>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </form>
                </td>
            </tr>
        </tfoot>
    </table>
</div>