<style type="text/css">
    #dialog_proc button {
        font-size: 0.8em;
    }

    #dialog_proc select {
        width: 100%;
        margin-right: 0px !important;
        margin-bottom: 0px;
    }

    #dialog_proc #proc,
    #dialog_proc #proc_text {
        width: 100%;
    }

    #table_proc tbody td {
        border-bottom: 1px solid gray;
    }

    #dialog_proc tbody button {
        padding: .4em 1em;
    }
</style>

<link href="./files/css-loader_.css" rel="stylesheet">

</div>

<div id="footer">
</div>