<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="umum-tab" data-bs-toggle="tab" data-bs-target="#umum" type="button"
            role="tab" aria-controls="umum" aria-selected="true">Umum</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="nyeri-tab" data-bs-toggle="tab" data-bs-target="#nyeri" type="button" role="tab"
            aria-controls="nyeri" aria-selected="false">Pemeriksaan Nyeri</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="umum" role="tabpanel" aria-labelledby="umum-tab">
        <div class="card mt-3">
            <div class="card-header">
                Keluhan
            </div>
            <div class="card-body">
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Bertanya Kepada</label>
                    <div class="col-sm-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Alloanamnesis
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="row">
                            <div class="col-sm-12 form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Suami
                                </label>
                            </div>
                            <div class="col-sm-12 form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Istri
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="row">
                            <div class="col-sm-12 form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Anak
                                </label>
                            </div>
                            <div class="col-sm-12 form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Orang Tua
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="row">
                            <div class="col-sm-12 form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Saudara
                                </label>
                            </div>
                            <div class="col-sm-12 form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Lainya
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Keluhan Utama</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="text006" rows="2"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                Tanda Vital
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Waktu Pemeriksaan</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="text005">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Keadaan Umum</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="text005">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Kesadaran</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="text005">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Tensi</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="text005">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Frekuensi Nadi</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="text005">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Frekuensi Nafas</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="text005">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Suhu</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="text005">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-md-end">
                            <div class="col-sm-2">
                                <a href="#" class="btn btn-primary">SIMPAN</a>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">PEMERIKSAAN</th>
                            <th scope="col">KEADAAN</th>
                            <th scope="col">KESADARAN</th>
                            <th scope="col">TENSI</th>
                            <th scope="col">NADI</th>
                            <th scope="col">NAFAS</th>
                            <th scope="col">SUHU</th>
                            <th scope="col">-</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>01 Mar 2021 13:42</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button type="button" class="btn btn-secondary">HAPUS</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nyeri" role="tabpanel" aria-labelledby="nyeri-tab">
        <div class="card mt-3">
            <div class="card-header">
                Pemeriksaan Nyeri
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="bayi-tab" data-bs-toggle="tab" data-bs-target="#bayi"
                            type="button" role="tab" aria-controls="bayi" aria-selected="true">Neonatal Infant Scale
                            (NIPS)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="anak-tab" data-bs-toggle="tab" data-bs-target="#anak" type="button"
                            role="tab" aria-controls="anak" aria-selected="false">Skala FLACC (Anak < 3th)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="dewasa-tab" data-bs-toggle="tab" data-bs-target="#dewasa"
                            type="button" role="tab" aria-controls="dewasa" aria-selected="false">Desawa</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="bayi" role="tabpanel" aria-labelledby="bayi-tab">
                        
                    </div>
                    <div class="tab-pane fade" id="anak" role="tabpanel" aria-labelledby="anak-tab">...</div>
                    <div class="tab-pane fade" id="dewasa" role="tabpanel" aria-labelledby="dewasa-tab">...</div>
                </div>
            </div>
        </div>
    </div>
</div>