<div class="card">
    <div class="card-header">
        Riwayat Penyakit Dahulu
    </div>
    <div class="card-body">
        <div class="row">
            <div class="form-check col-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Hipertensi
                </label>
            </div>
            <div class="form-check col-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Diabetes
                </label>
            </div>
            <div class="form-check col-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Jantung Koroner
                </label>
            </div>
            <div class="form-check col-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Asthma
                </label>
            </div>
            <div class="form-check col-12">
                <div class="row">
                    <div class="col-1">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Lainnya
                        </label>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" id="text005">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        Skrining Tanda dan Gejala TB
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Batuk
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Demam
                    </label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Keringat Malam
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Berat Badan Turun
                    </label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Gejala dan tanda TB Ekstraparu
                    </label>
                </div>
            </div>
            <hr />
            <div class="col-12">
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Kesimpulan Suspek TB</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPasssdword">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        Assesmen Resiko Jatuh Rawat Jalan ( Get Up and Go )
    </div>
    <div class="card-body">
    </div>
</div>